{% extends 'base.html' %}
{% block contend %}


  
<style>
  

    .container {
        width: 60%;
        margin: auto;
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    form {
        width: 100%;
        justify-content:space-around;
    }

    h2 {
        text-align: center;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }

    button[type="submit"] {
        background-color: #007bff;
        color: #ffffff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button[type="submit"]:hover {
        background-color: #0056b3;
    }

    .id{
        border-color: white;
    }

    .id input{
        color: red;
        font-weight: 600;
        font-size: xx-large;
    }
</style>

<br>
<div class="container mt-4">
{% for i in data6 %}
    <form action="/kzkdstureg/" method="post">{% csrf_token %}
        <h2>Registration</h2>
    
        <div class="form-group">
            <label for="name">Studen Id No:</label>
            <div class="id">
                <input style="width: 20%;" type="text" class="form-control" id="kzsid" name="kzsid" value="{{ next_student_id }}" readonly>
            </div>
            <input type="hidden" class="form-control" id="kzenq_id" name="kzenq_id" value="{{enquery_id}}">
        </div>
        
        <hr>
        <br>
        <!-- Personal Information -->
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" name="fname" value="{{i.fname}}" placeholder="Enter first name" required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" name="lname" value="{{i.lname}}" placeholder="Enter last name" required>
        </div>
        <div class="form-group">
            <label for="fatherName">Father's Name:</label>
            <input type="text" class="form-control" id="fatherName" name="faname" placeholder="Enter father's name" required>
        </div>
        <div class="form-group">
            <label for="motherName">Mother's Name:</label>
            <input type="text" class="form-control" id="motherName" name="moname" placeholder="Enter mother's name" required>
        </div>
        <div class="form-group">
            <label for="place">Place:</label>
            <input type="text" class="form-control" id="place" name="place" value="{{i.place}}" placeholder="Enter your place" required>
        </div>
        <div class="form-group">
            <label for="qualification">Qualification:</label>
            <input type="text" class="form-control" id="qualification" name="quali" value="{{i.qualification}}" placeholder="Enter your qualification" required>
        </div>
        <div class="form-group">
            <label for="course">Course:</label>
            <input type="text" class="form-control" id="course" name="course" value="{{i.course}}" placeholder="Enter your course" required>
        </div>
        <div class="form-group">
            <label for="phoneNo">Phone No:</label>
            <input type="tel" class="form-control" id="phoneNo" name="phone" value="{{i.phone}}" placeholder="Enter your phone number" required>
        </div>

        <!-- Payments Information -->
        <!-- <h2>Payments</h2> -->
        <div class="form-group">
            <label for="courseFee">Course Fee:</label>
            <input type="number" style="width: 25%;" class="form-control" name="fee" id="courseFee" placeholder="Enter course fee" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endfor %}





<br><br>

{% endblock %}